/* Css para las notificaciones */

.n-personal{

    position: absolute;
    top: 0%;
    width: 100%;
    height: 100px !important;
    display: block;
    z-index: 20000 !important;
}

#btn-n-personal-1{

    cursor: pointer !important;
}
#btn-n-personal-2{
    
    cursor: pointer !important;
}
#btn-n-personal-3{

    cursor: pointer !important;
}

.container-notificaciones{

    position: sticky !important;
    top: 0 !important; 
    z-index: 200;
}

.container-notificaciones_l{

    width: 100%;
    position: absolute !important;
    top: 0 !important; 
    z-index: 200;
}