<!DOCTYPE html>
<html lang="en" >
<head>
	<script src="backend/js/session-login.js"></script>
	<meta charset="UTF-8">
	<title>Log In</title>
	<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css'>
	<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css'>
	<link rel="stylesheet" href="assets/css/style-login.css">
	<link rel="stylesheet" href="alerts.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">

</head>
<body class="bodyxd">



<div class="container_alert">

	<h3>
		Peligro
	</h3>
	<p>
		Usuario o contraseña incorrectos
	</p>
	<div onclick="cerrar()">
		<svg style="position: absolute; top: 10%; right: 1%; cursor: pointer;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
			<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
		</svg>
	</div>
</div>



<div class="container">
	<div class="screen">
		<div class="screen__content">
			<div class="login">
				<div class="navbar-logo">
					<a class="mobile-menu" id="mobile-collapse" href="#!">
						<i class="ti-menu"></i>
					</a>
					<a class="mobile-search morphsearch-search" href="#">
						<i class="ti-search"></i>
					</a>
					<a href="../index.html">
						<img class="img-fluid" src="assets/images/pasteur.svg" alt="Theme-Logo">
					</a>
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input id="user" type="text" class="login__input" placeholder="Usuario">
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input id="pass" type="password" class="login__input" placeholder="Contraseña">
				</div>
				<div class="login__field">
					<select class="option" id="rol" id="">
						<option selected value="1">
							Administrador
						</option>
						<option value="2">
							Manager
						</option>
						<option value="3">
							Analista
						</option>
					</select>
				</div>
				<button id="btn_log_id" class="button login__submit" onclick="set_session()">
					<span class="button__text">Iniciar Sesion</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>				
			</div>
			
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>
<!-- partial -->
<script src="backend/js/set-session.js"></script>

</body>
</html>
