<!DOCTYPE html>
<html lang="en" >
<head>
	<meta charset="UTF-8">
	<title>CodePen - A Pen by Mohithpoojary</title>
	<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css'>
	<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css'>
	<link rel="stylesheet" href="assets/css/style-login.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

</head>
<body class="bodyxd">
	
<div class="container">
	<div class="screen">
		<div class="screen__content">
			<form id="form-data" class="login" action="" method="POST">
				<div class="navbar-logo">
					<a class="mobile-menu" id="mobile-collapse" href="#!">
						<i class="ti-menu"></i>
					</a>
					<a class="mobile-search morphsearch-search" href="#">
						<i class="ti-search"></i>
					</a>
					<a href="index.html">
						<img class="img-fluid" src="assets/images/pasteur.svg" alt="Theme-Logo">
					</a>
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input name="user" type="text" class="login__input" placeholder="Usuario">
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input name="pass" type="password" class="login__input" placeholder="Contraseña">
				</div>
				<div class="login__field">
					<select class="option" name="rol" id="">
						<option selected value="1">
							Administrador
						</option>
						<option value="2">
							Manager
						</option>
						<option value="3">
							Analista
						</option>
					</select>
				</div>
				<button class="button login__submit">
					<span class="button__text">Iniciar Sesion</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>				
			</form>
			
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>
<!-- partial -->
  
</body>
</html>
