<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS Link -->
    <link rel="stylesheet" href="dist/css/vendor/bootstrap.min.css">
    <!-- Theme CSS Link -->
    <link rel="stylesheet" href="dist/css/main.css">
    <link rel="shortcut icon" href="dist/src/images/favicon.ico">
    <title>Acceso Denegado</title>
</head>
<body>
    
    <div class="c">
        <div class="s-1">
            <h1>
                No tienes acceso a esta pagina
            </h1>
            <button onclick="r()">
                Volver Atras
            </button>
        </div>
        <div class="s-2">

        </div>
    </div>

    <script>
        function r(){
            window.location.href = "login.html"
        }
    </script>

</body>
</html>